.TodoItem {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(240, 240, 240);

  input {
    width: 20px;
  }

  .content {
    flex: 1;
  }

  button {
    cursor: pointer;
    color: gray;
    border: none;
    border-radius: 5px;
    padding: 5px;
  }
}
